.popUp {
  position: fixed;
  top:0;
  left: 0;
  width: 100%;
  height: 100vh;
  background-color: rgba(0,0,0,0.2);
  z-index: 10;
  

  display: flex;
  justify-content: center;
  align-items: center;
}

.popUpInner {
  position: relative;
  padding: 2rem;
  width: 100%;
  max-width: 640px;
  background-color: #fff;
  border-radius: 8px;

}

.closeBtn {
  position: absolute;
  top:16px;
  right: 16px;
  background: none;
  border: none;
}