* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: Roboto, sans-serif;
  list-style: none;
  line-height: 1.5;
  user-select: none;
}

body{
  background: #F7F8FC;
  color: #363740;
}