.wrapper {
  margin: 2rem;
  display: grid;
  gap: 1rem;
  grid-template-columns: 1fr;
  justify-content: center;
}

.noResult{
  position: absolute;
  top:50%;
  right: 30%;
  text-align: center;
}

@media screen and (min-width: 600px) {
  .wrapper {
    grid-template-columns: repeat(auto-fit, minmax(14rem, 16rem));
  }
}

